@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-vistec-purple: #5D3085;
  --color-vistec-red: #B4213A;
  --color-vistec-purple-dark: #472266;
  --color-vistec-red-dark: #8F182C;
  --color-vistec-purple-light: #F4EFF8;
  --color-vistec-red-light: #FBEAEC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
